.tim:hover {
  cursor: pointer;
}
.video{
  width: 400px;
  height: 400px;
}

.video-container{
  display: flex;
  justify-content: space-between;
}

.videoStream{
  border-radius: 10px;
}

.call-button{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

